<header>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
<div class="container">

<a href="#" class="navbar-brand">
<img src="https://www.strengthscope.com/wp-content/uploads/2018/04/SB-convos-01-1.png" width="30px" height="30px" class="d-inline-block align-top">
Shopping Cart</a>

<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbar">
<ul class="navbar-nav ml-auto">
<li class="nav-item active">
    <LinkTo @route="index" class="nav-link">Home</LinkTo>  
</li>
<li class="nav-item">
    <LinkTo @route="cart" class="nav-link">Bill</LinkTo>
</li>
</ul>
</div>
</div>
</nav>
</header>