<GeneralContainer>
    <div class="product">
        <Product::Images />
        <Product::Details />
    </div>
    <h3 class="mt-5">
        Features
    </h3>
    <ul>
        <li>Listen to your favourite tracks and podcasts all night long, comfortably, with these headphones that offer
            up to 35 hours of playback.</li>
        <li>Thanks to Bluetooth Technology, you can stream music from a paired smartphone or tablet wirelessly.</li>
        <li>With up to 35 hours of battery life, these headphones are here to keep you company on those lonely nights
            and long commutes. With just 10 minutes of charging, you will get up to 90 minutes of playback.
        </li>
        <li>These headphones are compact and lightweight, making for a comfortable listening experience. They come with
            swivel earcups that let you tuck them away safely in your bag.</li>
        <li>These headphones make listening to music convenient and hassle-free as they come with buttons to play/stop
            your music, skip through tracks and adjust the volume.</li>
        <li>Thanks to the built-in microphone, you don’t have to reach for your phone to talk to your loved one - you
            can have conversations with your loved one on these headphones.</li>
    </ul>
</GeneralContainer>